{% extends 'base.html' %}

{% block title %}
Forget your Password?
{% endblock title %}

{% block content %}
   <h1>Forget you Password</h1>
   <p>Enter your email address below, and we'll email instructions for setting
        a new one</p>

    <form>
        {% csrf_token %}
        {{ form.as_p }}

        <input type='submit' value='Send me instructions' class='btn btn-success'>
    </form>
{% endblock content %}