{% extends 'base.html' %}

{% block title %}
Email Sent
{% endblock title %}

{% block content %}
   <h1>Check your inbox</h1>
   <p>We have emailed the instruction successfuly.</p>
{% endblock content %}