{% extends 'base.html' %}

{% block title %}
Enter New Password
{% endblock title %}

{% block content %}
    <h1>Set a new password.</h1>
    <form method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Change my password' class='btn btn-success'>
    </form>
{% endblock content %}